Source: sox
Homepage: http://sox.sourceforge.net
Section: core
Priority: optional
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper (>= 7), cdbs, libltdl3-dev, libvorbis-dev, libmad0-dev, libgsm1-dev, libsndfile1-dev (>= 1.0.12), libsamplerate0-dev, libavcodec-dev (>= 0.cvs20070301), libavformat-dev, libavutil-dev, libwavpack-dev, libao-dev, libid3tag0-dev, ladspa-sdk, libpng12-dev, libmagic-dev, libpulse-dev, libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386]
XCS-Cross-Host-Build-Depends: debhelper (>= 7), cdbs, cdbs-embedded, automake, libtool, autoconf, pkg-config
XCS-Cross-Build-Depends: libpng12-dev, libasound2-dev, libmad0-dev
Standards-Version: 3.8.1

Package: sox
Section: core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Swiss army knife of sound processing
 SoX is a command line utility that can convert various formats of computer 
 audio files in to other formats. It can also apply various effects to these 
 sound files during the conversion. As an added bonus, SoX can play and record 
 audio files on several unix-style platforms.
 .
 SoX is able to handle formats like Ogg Vorbis, MP3, WAV, AIFF, VOC, SND, AU,
 GSM and several more.
 Any format support requires at least libsox-fmt-base. Some formats have their
 own package e.g. mp3 read support is provided by libsox-fmt-mp3.
 .
 SoX supports most common sound architectures i.e. Alsa, Libao and OSS
 (provided by libsox-fmt-alsa, libsox-fmt-ao and libsox-fmt-oss). It also
 supports LADSPA plugins.

Package: libsox1a
Architecture: any
Section: core
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SoX library of audio effects and processing
 SoX is the swiss army knife of sound processing.
 .
 This package contains the SoX library which enables to convert various formats
 of computer audio files in to other formats. It also allows you to apply
 various effects to sound files.
 .
 Any format support requires at least libsox-fmt-base.
 Sound card I/O requires libsox-fmt-alsa, libsox-fmt-ao or libsox-fmt-oss.

Package: libsox-dev
Architecture: any
Section: libdevel
Depends: libsox1a (=${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Development files for the SoX library
 SoX is the swiss army knife of sound processing.
 .
 This package contains the development files for the SoX library.

Package: sox-dbg
Architecture: any
Section: debug
Depends: libsox1a (=${binary:Version}), sox (=${binary:Version})
Description: SoX -- debug symbols
